@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway:ital,wght@0,400;1,300&family=Staatliches&display=swap");

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
 }
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: linear-gradient(#36535c, #0d1c16);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fefefe;
}

h1 {
  font-size: 3em;
  text-align: center;
}
/**
 * Navigation Bar Elements
 */
.barsicon {
  background-color: #0D1C16;
  border: none;
  color: #fefefe;
}

.nav-bar {
  background-color: #0D1C16;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 25px 25px;
}

  .nav-bar h1 {
    font-family: "Lobster Two", cursive;
    font-size: 4em;
  }


  .nav-bar div {
    align-items: flex-end;
    margin-left: auto;
  }

.inline {
  display: inline-block;
  margin-left: 25px;
}

.center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

/**
 * Side Menu Elements
 */

.side-menu {
  background-color: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 100%;
  margin-top: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.side-menu a {
  padding: 25px;
  font-size: 2.5em;
  text-align: center;
  display: block;
  color: aliceblue;
  transition: 0.3s;
}

.side-menu a:hover {
  background-color: #87C6AF;
  color: #0D1C16;
}

/* Index.hbs css properties */
/* grid for holding movies */
.movie-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 50px 50px;
  padding: 20px 75px;
  height: 100vh;
  width: 100vw; 
  overflow-y: scroll;

}

/* styling for movie poster discover tile. */

.discover-tile{
  background-color: rgba(0,0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 300px;
  width: 150px;
}

.discover-tile img{
  width: 150px;
  height: 250px;
}
