
<div class="discover-tile">
  <img
    alt="Movie Poster for {{@title}}"
    ...attributes

    src="/assets/images/mononokePoster.jpg"
    width="75px" 
    height="150px"
  >
  <div>
    Princsee Monoke
    {{!-- {{@title}} --}}
  </div>
  <div>
    October 29, 1999

    {{!-- {{@date}} --}}
  </div>
  {{yield}}
</div>