<div class="bookmark-container">
    <div class="movie-img"><img src="#" alt="" /></div>
    <div class="movie-info">
        <h3>Movie Title</h3>
        <p>Release Year</p>
        <p>Review Score</p>
    </div>
    <div class="icon-container">
        <p><i class="bookmark link icon"></i></p>
        <p><i class="share link alternate icon"></i></p>
    </div>
</div>