<div class="nav-bar">
    <i class="bars icon"></i>
    {{!-- <img height="200px" src="/public/assets/images/spuds.png" alt="Couch Potato"/> --}}
    <h1>Couch Potato</h1>
    <div class="ui input">
    <input type="text" placeholder="Search...">
    </div>
    {{yield}}
</div>