<div class="nav-bar">
  <button onclick="myFunction()" class=" barsicon">
    <i class=" huge bars icon inline"></i>
  </button>
  <img class="inline" height="75px" src="/assets/images/spuds.png" alt="Couch Potato" />

  <h1 class="inline">Couch Potato</h1>
  <div id="myDIV">
    <div class="side-menu">
      <LinkTo @route="index">Discover</LinkTo>
      <LinkTo @route="bookmarks">Bookmarks</LinkTo>
      <LinkTo @route="sign-in">My Account</LinkTo>
    </div>
  </div>

  <div class="big ui input inline-search">
    <input type="text" placeholder="Search...">
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
  {{yield}}
</div>
