<header class="bookmarks-header">
    <h1>BookMarks</h1>
</header>
<main class="bookmark-frame">
    <div class="ui four column grid">
        <div class="four wide column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
        <div class="column">
            <MovieBookmark />
        </div>
    </div>
</main>

{{outlet}}