{{!-- Since index is our home page, this should be the discover page --}}

<h1> Discover</h1>
<div class="movie-container">
    <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
 <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
  <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
 <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/> 
     <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
 <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/> 
     <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
 <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/> 
     <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
 <DiscoverTile/>
    <DiscoverTile/>
    <DiscoverTile/>
</div> 
{{outlet  }}

<script>
    
</script>