<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .sign-up{
   display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  /*contols label under photo*/
  .picture-label {
    font-family: "Lobster Two", cursive;
    font-size: 4em;
    line-height: normal;
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  /*Controls full container of submission boxes*/
  .container{
    display:flex ;
    flex-direction: column;
    justify-content: center;
  }
  .clearfix{
    display:flex ;
    flex-direction: row;
    justify-content: center;
  }
  /*contols register button*/
  .signupbtn {
    font-family: "Lobster Two", cursive;
    padding: 10px;
    background-color: #00FA9A;
    border-radius: 30%;
    font-size: 1.9em;
    margin-top: 15px;
  }
  /* css for the input fields */
  input[type=text], input[type=password], input[type=email] {
    padding: 15px;
    margin-top: 15px;
    border: none;
    background: linear-gradient(#36535c, #0d1c16);
  }
</style>

<div class="sign-up">
  <h1>Sign Up</h1>
  <div class="caption">
    <img class="center" height="150px" src="/assets/images/spuds.png" alt="Couch Potato" />

    <h1 class="picture-label">Couch Potato</h1>
  </div>
  <form class="modal-content" action="/action_page.php">
    <div class="container">

      <input type="text" placeholder="First Name" name="first-name" required>
      <input type="text" placeholder="Last Name" name="last-name" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Create a Password" name="psw" required>


      <div class="clearfix">
        <button type="submit" class="signupbtn"><b>Register</b></button>
      </div>
    </div>
  </form>





  {{outlet}}
</div>
